
#directories
/scripts_tests
/.ipynb_checkpoints
/useless-scripts
/.vscode
/__pycache__
/qe/__pycache__
/test
/out
#files
/ calypso/.idea/inspectionProfiles/Project_Default.xml
/calypso/.idea/inspectionProfiles/profiles_settings.xml
/calypso/.idea/vcs.xml
PPOSCAR
periodic_table.jpg
periodic_table.svg
