
#directories
/scripts_tests
/.ipynb_checkpoints
/useless-scripts
/.vscode
/test
/out
/.idea
/__pycache__
/qe/__pycache__
/vasp/__pycache__
/structuregenerator/__pycache__
#files
/ calypso/.idea/inspectionProfiles/Project_Default.xml
/calypso/.idea/inspectionProfiles/profiles_settings.xml
/calypso/.idea/vcs.xml
PPOSCAR
periodic_table.jpg
periodic_table.svg
*.csv

