#directories
/my_scripts.egg-info

/scripts_tests
/.ipynb_checkpoints
/useless-scripts
/.vscode
/test
/out
/.idea
/__pycache__
/qe/__pycache__
/vasp/__pycache__
/vasp/vasptools/__pycache__/
/epw/__pycache__
/epw/epw-tools/__pycache__/


/structuregenerator/__pycache__
/structuregenerator/psolib/__pycache__
/structuregenerator/psolib/finger/__pycache__
/structuregenerator/psolib/utils/__pycache__
/structuregenerator/psolib/fortran_src/LegacyFingerPrint/F90wrap
/structuregenerator/psolib/fortran_src/LegacyFingerPrint/LIB
/structuregenerator/psolib/fortran_src/LegacyFingerPrint/OBJ
/structuregenerator/psolib/fortran_src/LegacyFingerPrint/FPP
/structuregenerator/psolib/fortran_src/LegacyFingerPrint/src.linux-x86_64-3.9
/structuregenerator/psolib/fortran_src/sym3dgenerator/F90wrap
/structuregenerator/psolib/fortran_src/sym3dgenerator/LIB
/structuregenerator/psolib/fortran_src/sym3dgenerator/OBJ
/structuregenerator/psolib/fortran_src/sym3dgenerator/FPP
/structuregenerator/psolib/fortran_src/sym3dgenerator/src.linux-x86_64-3.9
/notebook/.ipynb_checkpoints
/mytoolkit/__pycache__
/my_script.egg-info

#files
qe/qebin.py
vasp/vaspbin.py
epw/epwbin.py

/calypso/.idea/inspectionProfiles/Project_Default.xml
/calypso/.idea/inspectionProfiles/profiles_settings.xml
/calypso/.idea/vcs.xml
PPOSCAR
periodic_table.jpg
periodic_table.svg
*.csv
structuregenerator/psolib/fortran_src/sym3dgenerator/libsrc.a
structuregenerator/psolib/fortran_src/LegacyFingerPrint/libsrc.a
structuregenerator/psolib/fortran_src/sym3dgenerator/f90sym3dgenerator.c
structuregenerator/psolib/fortran_src/LegacyFingerPrint/f90LegacyFingerPrint.c
structuregenerator/psolib/fortran_src/sym3dgenerator/f90sym3dgenerator.py.bak
structuregenerator/psolib/fortran_src/LegacyFingerPrint/f90LegacyFingerPrint.py.bak
structuregenerator/psolib/fortran_src/sym3dgenerator/f90sym3dgenerator.py
structuregenerator/psolib/fortran_src/LegacyFingerPrint/f90LegacyFingerPrint.py
structuregenerator/psolib/lib_so/*

qe/eliashberg/eliashberg.x
qe/eliashberg/modmain.mod
qe/eliashberg/mpi.mod
qe/eliashberg/modphonon.mod
qe/eliashberg/modmpi.mod
structuregenerator/psolib/fortran_src/LegacyFingerPrint/.f2py_f2cmap
structuregenerator/psolib/fortran_src/LegacyFingerPrint/src.macosx-10.9-x86_64-3.9/_f90LegacyFingerPrintmodule.c
structuregenerator/psolib/fortran_src/LegacyFingerPrint/src.macosx-10.9-x86_64-3.9/_f90LegacyFingerPrintmodule.o
structuregenerator/psolib/fortran_src/LegacyFingerPrint/src.macosx-10.9-x86_64-3.9/_f90LegacyFingerPrintmodule.o.d
structuregenerator/psolib/fortran_src/LegacyFingerPrint/src.macosx-10.9-x86_64-3.9/src.macosx-10.9-x86_64-3.9/fortranobject.c
structuregenerator/psolib/fortran_src/LegacyFingerPrint/src.macosx-10.9-x86_64-3.9/src.macosx-10.9-x86_64-3.9/fortranobject.h
structuregenerator/psolib/fortran_src/LegacyFingerPrint/src.macosx-10.9-x86_64-3.9/src.macosx-10.9-x86_64-3.9/fortranobject.o
structuregenerator/psolib/fortran_src/LegacyFingerPrint/src.macosx-10.9-x86_64-3.9/src.macosx-10.9-x86_64-3.9/fortranobject.o.d
.DS_Store



